---
version: '2'
services:
  postgres:
    image: 'postgres:latest'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'
    volumes:
      - 'docker-postgres:/var/lib/postgresql/data'
  redis:
    image: 'redis'
    ports:
      - '6379:6379'
    volumes:
      - 'docker-redis:/var/lib/redis/data'
  sidekiq:
    depends_on:
      - 'postgres'
      - 'redis'
    build: .
    command: bundle exec sidekiq
    links:
      - postgres
      - redis
    env_file:
      - .docker.env
  app:
    depends_on:
      - 'postgres'
      - 'redis'
      - 'sidekiq'
    build: .
    command: bundle exec puma -C config/puma.rb
    env_file:
      - .docker.env
    links:
      - postgres
      - redis
      - sidekiq
    expose:
    - '3000'
  web:
    build:
      context: .
      dockerfile: Dockerfile-nginx
    links:
      - app
    ports:
      - '80:80'
volumes:
  docker-postgres:
  docker-redis:
